.createEventStages {
  font-size: 22px;
  line-height: 27px;
  color: rgba(26, 26, 26, 0.6);

  span {
    color: #FF906D;
  }
}

.createEventHeading {
  margin-top: 25px;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #1A1A1A;
}

.createEventContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.createEventButtons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.createEventList {
  margin-top: 30px;
}
