.Picker {
  padding: 50px 40px 40px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 350px;
}
