.TotalEventsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 0px;
  align-items: center;
}

.TotalEventsLoading {
  ion-spinner {
    color: #54dc98;
  }
}

.TotalEventsHeading {
  margin-top: 30px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: var(--mg-main-black);
}

.TotalEventsContent {
  margin-top: 35px;
}

.TotalEventList {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.TotalEventsBtns,
.TotalEventsMain {
  width: 100%;
}

.TotalEventsBtns {
  padding-bottom: 50px;
}

.TotalEventNot {
  margin-top: 30px;
  font-size: 16px;
  line-height: 127.52%;
  color: rgba(26, 26, 26, 0.7);
}
