.UsersModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-bottom: 0px;
}

.UsersModalHeader {
  width: 100%;
  margin-top: 30px;

  h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;  
  }

  p {
    margin-top: 5px;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
  }
}

.UsersModalList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 40px;
}

.UsersModalBtns {
  padding-bottom: 30px;
  width: 100%;
}

@media (max-width: 414px) {
  .UsersModalHeader {
    margin-top: 7.25vw;
  
    h2 {
      font-size: 7.73vw;
      line-height: 9.42vw;  
    }
  
    p {
      margin-top: 1.21vw;
      font-size: 3.38vw;
      line-height: 4.11vw;
    }
  }
  
  .UsersModalList {
    gap: 6.04vw;
    margin-top: 9.66vw;
  }

  .UsersModalBtns {
    padding-bottom: 9.66vw;
  }

  .UsersModalContainer {
    gap: 7.25vw;
  }
}