.TabButton {
  display: flex;
  align-items: start;
  gap: 25px;
  padding-bottom: 10px;
  border-bottom: solid 2px #f4f4f4;
}

.TabButtonBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--mg-main-black);
  background-color: transparent;
  position: relative;
}

.TabButtonBtnActive {
  &::before {
    content: "";
    display: block;
    background: var(--mg-main-green);
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -12px;
    position: absolute;
  }
}
