.dateInput {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.dateInputBtn {
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--mg-main-white);
  background-color: var(--mg-main-black);
  border-radius: 10px;
}

@media (max-width: 414px) {
  .dateInput {
    gap: 2.42vw;
  }

  .dateInputBtn {
    padding: 3.62vw 4.83vw;
    font-size: 3.86vw;
    line-height: 4.59vw;
    border-radius: 2.42vw;
  }
}
