.dateInput {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.dateInputBtn {
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #1A1A1A;
  border-radius: 10px;
}