.Raiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7px;
}

.RaitingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.Title {
  font-size: 14px;
  line-height: 17px;
  color: var(--mg-black-second);
}

.Icon {
  display: block;
  width: 17px;
  height: 17px;
  background-image: url(../../../../assets/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.Button {
  margin-top: 5px;
  font-size: 10px;
  line-height: 12px;
  color: var(--mg-main-gray);
  background-color: transparent;
}

.Line {
  margin-top: 20px;
  width: 129px;
  height: 2px;
  background-color: var(--mg-main-orange);
}
