@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$black-color: #1A1A1A;

* {
  font-family: Inter;
  color: black;
}

body {
  background-color: #fff;
}


.container {
  padding: 0px 30px;
}