@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

$black-color: #1A1A1A;

* {
  font-family: Inter;
  color: black;
}

body {
  background-color: #fff;
}

.ion-color-primary {
  --ion-color-base: #FF906D !important;
}

.ion-page{
  height: 100%;
  overflow: hidden;
}

.modal-wrapper, .ion-overlay-wrapper {
  width: 100%;
  height: 100%;
}

.app-input {
  width: 100%;
  padding: 20px 20px;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.7);
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;

  &::placeholder {
    font-size: 18px;
    line-height: 22px;
    color: #AAAAAA;
  }

  &:focus {
    outline: 4px #75D7A166 solid;
  }
}

.container {
  padding: 40px 30px;
}

.app__container {
  padding: 0px 0px;
  height: 100%;
}

.auth__container {
  padding-bottom: 90px;
}

.map {
  width: 100%;
  height: 100%;
}

.heading {
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  color: #1A1A1A;
}

.description {
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  height: 100%;
  padding: 40px 30px;
}

.label {
  font-size: 18px;
  line-height: 22px;
  color: #1A1A1A;
}

.input {
  width: 100%;
  padding: 16px 17px;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 414px) {

  .label {
    font-size: 4.35vw;
    line-height: 5.31vw;
  }
  
  .input {
    padding: 3.86vw 4.11vw;
    border-radius: 2.42vw;
    font-size: 3.86vw;
    line-height: 4.59vw;
  }

  .app-input {
    padding: 4.83vw 4.83vw;
    font-size: 4.35vw;
    line-height: 5.31vw;
    border-radius: 2.42vw;
  
    &::placeholder {
      font-size: 4.35vw;
      line-height: 5.31vw;
    }
  
    &:focus {
      outline: 0.97vw #75D7A166 solid;
    }
  }
  
  .container {
    padding: 9.66vw 7.25vw;
  }

  .app__container {
    padding: 0px 0px;
    height: 100%;
  }  
  
  .auth__container {
    padding-bottom: 21.74vw;
  }

  .heading {
    font-size: 6.76vw;
    line-height: 8.21vw;
  }
  
  .description {
    font-size: 3.86vw;
    line-height: 4.59vw;
  }
  
  .modal-container {
    padding: 9.66vw 7.25vw;
  }
}