.AppEventsLimit {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 30px;

  h2 {
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color: #1A1A1A;
  }

  p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 127.52%;
    color: rgba(26, 26, 26, 0.7);
  }
}

.AppEventsLimitBtns {
  padding-bottom: 40px;
}

@media (max-width: 414px) {
  .AppEventsLimit {
    gap: 7.25vw;
  
    h2 {
      font-size: 6.76vw;
      line-height: 8.21vw;
    }
  
    p {
      margin-top: 4.83vw;
      font-size: 3.86vw;
    }
  }
  
  .AppEventsLimitBtns {
    padding-bottom: 9.66vw;
  }
}