.appLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #75D7A1;

  h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #FFFFFF;
  }
}