.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.loginFormWrapper {
  position: relative;
}

@media (max-width: 414px) {
  .loginForm {
    gap: 4.83vw;
    margin-top: 9.66vw;
  }
}