.authBanner {
  padding: 94px 30px 40px 30px;
  background-color: #75D7A1;
  border-radius: 25px;

  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
  }

  p {
    margin-top: 13px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }
}