.eventsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #75D7A1;
  position: absolute;
  top: 40px;
  left: 30px;
  outline: 1px solid rgba(26, 26, 26, 0.05);
  filter: drop-shadow(4px 10px 15px rgba(0, 0, 0, 0.05));

  span {
    display: block;
    width: 26px;
    height: 26px;
    background-image: url(../assets/events.svg);
    background-size: contain;
  }
}