.eventsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--mg-main-green);
  position: absolute;
  top: 40px;
  left: 30px;
  outline: 1px solid rgba(26, 26, 26, 0.05);
  filter: drop-shadow(4px 10px 15px rgba(0, 0, 0, 0.05));

  span {
    display: block;
    width: 26px;
    height: 26px;
    background-image: url(../assets/events.svg);
    background-size: contain;
  }
}

@media (max-width: 414px) {
  .eventsButton {
    width: 14.49vw;
    height: 14.49vw;
    border-radius: 2.42vw;
    top: 9.66vw;
    left: 7.25vw;
    outline: 0.24vw solid rgba(26, 26, 26, 0.05);
    filter: drop-shadow(0.97vw 2.42vw 3.62vw rgba(0, 0, 0, 0.05));

    span {
      width: 6.28vw;
      height: 6.28vw;
    }
  }
}
