.loginPageToggle {
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;

  span {
    color: var(--mg-main-green);
  }
}

@media (max-width: 414px) {
  .loginPageToggle {
    margin-top: 6.04vw;
    font-size: 3.86vw;
    line-height: 4.59vw;
  }
}
