.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  position: absolute;
  background: var(--mg-main-black);
  border-radius: 50%;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  span {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../assets/search.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.searchButtonClose {
  span {
    width: 30px;
    height: 30px;
    background-image: url(../assets/close.svg);
  }
}
