.Input {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--mg-second-gray);
}

.InputSmall {
  padding: 16px;
  border-radius: 5px;
}

.Label {
  margin-bottom: 10px;
}

.Wrapper {
  position: relative;
}
