.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  color: var(--mg-main-white);
  background-color: var(--mg-main-black);
  border-radius: 10px;

  &:disabled {
    opacity: 0.8;
  }
}

.Button_secondary {
  color: var(--mg-main-black);
  background-color: transparent;
  border: solid 1px var(--mg-main-black);
}

.Button_secondaryGrey {
  background-color: var(--mg-light-gray);
  color: var(--mg-main-black);
}

.WithIcon {
  padding: 16px 30px 16px 16px;
}

.Icon {
  width: 30px;
  height: 30px;
}
