.LinkButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #F6F6F6;
  border-radius: 10px;

  span {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../../../assets/link.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 414px) {
  .LinkButton {
    width: 12.08vw;
    height: 12.08vw;
    border-radius: 2.42vw;
  
    span {
      width: 4.83vw;
      height: 4.83vw;
    }
  }
}  