.ForgotAccContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 0px;
}

.ForgotAccContent {
  margin-top: 20px;

  h2 {
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color: #1A1A1A;
  }

  p {
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.7);
  }
}

.ForgotAccContentBody {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.ForgotAccBtns {
  padding-bottom: 50px;
}

@media (max-width: 414px) {
  .ForgotAccContainer {
    gap: 7.25vw;
  }
  
  .ForgotAccContent {
    margin-top: 4.83vw;
  
    h2 {
      font-size: 6.76vw;
      line-height: 8.21vw;
    }
  
    p {
      font-size: 3.86vw;
      line-height: 4.59vw;
    }
  }
  
  .ForgotAccContentBody {
    margin-top: 7.25vw;
    margin-bottom: 9.66vw;
    gap: 3.62vw;
  }
  
  .ForgotAccBtns {
    padding-bottom: 12.08vw;
  }
}