.AppLocationMap {
  height: 100%;
}

.AppLocationWrapper {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 200px;
  background-color: #eeeeee;
  border-radius: 15px;
  overflow: hidden;
}

.Subtitle {
  color: var(--mg-second-black);
}

.Location {
  margin-top: 3px;
}

.Address {
  margin-top: 10px;
}
