.AppLocationMap {
  height: 100%;
}

.AppLocationWrapper {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 150px;
  background-color: #EEEEEE;
  border-radius: 15px;
  overflow: hidden;
}