.UserItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.UserItemHeading {
  font-size: 18px;
  line-height: 22px;
}

.UserItemImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.UserItemPhone {
  font-size: 14px;
  line-height: 17px;
  color: rgba(26, 26, 26, 0.6); 
}