.UserItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.UserItemImageLeader {
  outline: solid 2px #FFC56D;
}

.UserItemHeading {
  font-size: 18px;
  line-height: 22px;
}

.UserItemImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
}

.UserItemPhone {
  font-size: 14px;
  line-height: 17px;
  color: rgba(26, 26, 26, 0.6); 
}

.UserItemLeader {
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 17px;
  color: #E1992D;
}

@media (max-width: 414px) {
  .UserItem {
    gap: 4.83vw;
  }
  
  .UserItemImageLeader {
    outline: solid 0.48vw #FFC56D;
  }
  
  .UserItemHeading {
    font-size: 4.35vw;
    line-height: 5.31vw;
  }
  
  .UserItemImage {
    width: 14.49vw;
    height: 14.49vw;
  }
  
  .UserItemPhone {
    font-size: 3.38vw;
    line-height: 4.11vw;
  }
  
  .UserItemLeader {
    margin-bottom: 0.48vw;
    font-size: 3.38vw;
    line-height: 4.11vw;
  }
}