.passwordIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 20px;
  background-image: url(../../../assets/icons/L/IcLHiden.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  transform: translateY(-50%);
}

.passwordIconVisible {
  width: 30px;
  height: 30px;
  background-image: url(../../../assets/icons/L/IcLVisible.svg);
  background-size: contain;
}

@media (max-width: 414px) {
  .passwordIcon {
    width: 5.31vw;
    height: 3.62vw;
    right: 4.83vw;
  }

  .passwordIconVisible {
    width: 5.31vw;
    height: 4.35vw;
  }
}
