.Form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.Errors {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Forgot {
  background-color: transparent;
  --ob-body-color: var(--mg-gray-second);
}

@media (max-width: 414px) {
  .Form {
    gap: 4.83vw;
    margin-top: 9.66vw;
  }

  .Forgot {
    font-size: 3.38vw;
    line-height: 4.11vw;
  }
}
