.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 0px;
  position: relative;
  height: 100%;
}

.openedEventBtns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 50px;
}

.openedEventRemove {
  position: absolute;
  right: 30px;
  background-color: transparent;

  span {
    display: block;
    width: 28px;
    height: 31px;
    background-image: url(../../../assets/remove.svg);
    background-size: contain;
  }
}
