.openedEventHeader {
  margin-top: 30px;
}

.openedEventHeading {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.openedEventContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 0px;
  position: relative;
}

.openedEventBtns {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 50px;
}

.openedEventInputs {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.openedEventContent {
  margin-top: 30px;
}

.openedEventRemove {
  position: absolute;
  right: 30px;
  background-color: transparent;

  span {
    display: block;
    width: 28px;
    height: 31px;
    background-image: url(../../../assets/remove.svg);
    background-size: contain;
  }
}
