.ChatButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #75D7A1;
  border-radius: 10px;

  span {
    display: block;
    margin-right: 2px;
    width: 26px;
    height: 22px;
    background-image: url(../../../assets/chat.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 414px) {
  .ChatButton {
    width: 12.08vw;
    height: 12.08vw;
    border-radius: 2.42vw;
  
    span {
      margin-right: 0.48vw;
      width: 6.28vw;
      height: 5.31vw;
    }
  }
}