.Container {
  padding: 40px 20px 25px 20px;
  height: 100%;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding-bottom: 0px;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Title {
  margin-top: 25px;
}

.HeaderThird {
  margin-top: 5px;
  margin-bottom: 30px;
}

.ContentThird {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
