.Modal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding: 50px 30px 40px 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profileModalLogout {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50px;
  right: 40px;
  background: url(../../../../assets/logout.svg) no-repeat transparent;
  background-size: contain;
}
