
@for $i from 1 through 20 {
  .EventUsersAvatar:nth-child( #{$i}) {
    right: 10px * $i;
  }
}

.EventUsers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.EventUsersTotal {
  display: flex;
  align-items: center;
}

.EventUsersList {
  height: 25px;
  position: relative;
}

.EventUsersAvatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  object-fit: cover;
}
