.appModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(233, 233, 233, 0.4);
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.4s;
  min-height: 750px;
}

.appModalActive {
  opacity: 1;
  visibility: visible;
}

.appModalContent {
  width: 368px;
  height: 750px;
  background-color: var(--mg-main-white);
  border-radius: 50px;
  position: relative;
}
