.profileModalItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  h3,
  p {
    font-size: 16px;
    line-height: 19px;
    color: var(--mg-main-black);
  }

  input {
    background-color: transparent;
    font-size: 16px;
    line-height: 19px;
    color: var(--mg-main-black);
    text-align: right;
    width: 37.44vw;
    padding-bottom: 5px;
    border-bottom: 1px solid #d9d9d9;
  }
}

@media (max-width: 414px) {
  .profileModalItem {
    gap: 3.62vw;

    h3,
    p {
      font-size: 3.86vw;
      line-height: 4.59vw;
    }

    input {
      font-size: 3.86vw;
      line-height: 4.59vw;
      width: 37.44vw;
      padding-bottom: 1.21vw;
      border-bottom: 0.24vw solid #d9d9d9;
    }
  }
}
