.profileModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px 40px 40px;
}

//* user

.profileModalUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    margin-top: 20px;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #1A1A1A;
  }
}

//* rating

.profileModalRaiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
}

.profileModalRaitingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.profileModalRatingHeading {
  font-size: 14px;
  line-height: 17px;
  color: rgba(26, 26, 26, 0.6);
}

.profileModalRatingIcon {
  display: block;
  width: 17px;
  height: 17px;
  background-image: url(../../assets/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.profileModalRaitingHow {
  margin-top: 3px;
  font-size: 10px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.profileModalRaitingLine {
  margin-top: 25px;
  width: 129px;
  height: 2px;
  background-color: #FF906D;
}

//* Image

.profileModalImageWrapper {
  position: relative;
  border-radius: 50%;

  &:hover {
    .profileModalImageUpload {
      visibility: visible;
      opacity: 1;
    }
    .profileModalImage {
      opacity: .5;
    }
    background: #1A1A1A;
  }

  input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    left: 0;
    border-radius: 50%;
    cursor: pointer;
  }
}

.profileModalImageUpload {
  display: block;
  width: 61px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  background-image: url(../../assets/changeImage.svg);
}

.profileModalImage {
  width: 172px;
  height: 172px;
  border-radius: 50%;
}


.profileModalImageLoading {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.profileModalImageWrapperLoading {
  .profileModalImage {
    opacity: .5;
  }
  background: #1A1A1A;

  .profileModalImageUpload {
    display: none;
  }
}

ion-spinner {
  color: #fff;
}

//* List

.profileModalList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 33px;
  padding-bottom: 15px;
}


//* Buttons

.profileModalBtns {
  display: flex;
  flex-direction: column;
  gap: 15px;
}