.eventsList {
  margin-top: 13px;
  display: flex;
  column-gap: 10px;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.eventsItem {
  display: inline-block;
  padding: 8px 10px;
  background-color: #75D7A1;
  border-radius: 4px;
  
  button {
    font-weight: 600;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 14px;
  }
}


@media (max-width: 414px) {
  .eventsList {
    margin-top: 3.14vw;
    column-gap: 2.42vw;
  }
  
  .eventsItem {
    padding: 1.93vw 2.42vw;
    border-radius: 1.93vw;
    
    button {
      font-size: 3.38vw;
    }
  }
}